body{
	margin: 0;
	padding: 0;
	font-family: century Gothic;
	background: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	height: 70vh;
	width: 30%;
	background: rgba(0, 0, 0, .4);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0px 20px;
	box-shadow: 5px 5px 5px;
}
.container h1{
	color: white;
	margin-top: 60px;
}
.img{
	height: 70px;
	width: 70px;
	background: url("male.jpg")no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50px;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.container h2{
	color: white;
	margin-top: 40px;
	justify-content: center;
}
.container p{
	color: white;
	margin:60px 20px 20px 20px;
	font-size: large;
	font-size: 20px;
}
.container .social{
	border: 2px solid black;
	margin-top: 40px;
	border-radius: 10px;
}
@media (max-width: 991px)
{
	body
	{
	background: url("background.jpg");
	background-repeat: no-repeat;
	}
	.container
	{
		height: 80vh;
		width: 65%;
	}
}